
@{
    ViewBag.Title = "HPD";
    Layout = "~/Views/Shared/NurseryLayout.cshtml";
}

<h2>Disclaimer</h2>

<body>
    <p>E_Nursery.com provides this website as a service.</p>
    <p>While the information contained within the site is periodically updated, no guarantee is given that the information provided in this website is correct, complete, and/or up-to-date.</p>
    <p>The materials contained on this website are provided for general information purposes only and do not constitute legal or other professional advice on any subject matter. Houseplantsexpert.com does not accept any responsibility for any loss which may arise from reliance on information contained on this site.</p>
    <p>Permission is given for the downloading and temporary storage of one or more of these pages for the purpose of viewing on a personal computer. The contents of this site are protected by copyright under international conventions and, apart from the permission stated, the reproduction, permanent storage, or retransmission of the contents of this site is prohibited without the prior written consent of Houseplantsexpert.com.</p>
    <p>Some links within this website may lead to other websites, including those operated and maintained by third parties. Houseplantsexpert.com includes these links solely as a convenience to you, and the presence of such a link does not imply a responsibility for the linked site or an endorsement of the linked site, its operator, or its contents (exceptions may apply).</p>
    <p>This website and its contents are provided "AS IS" without warranty of any kind, either express or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose, or non-infringement.</p>
    <p>Reproduction, distribution, republication, and/or retransmission of material contained within this website are prohibited unless the prior written permission of garagedooropenerguide.com has been obtained.</p>

</body>
