@{
    ViewBag.Title = "LoggedIn";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<style>
    .center {
        text-align: center;
    }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <br />
    <br />
    <br />
    <div>
        <div class="center">
            @if (ViewBag.Message != null)
            {
                <h3>@ViewBag.Message</h3>
            }
        </div>
    </div>
</body>
</html>